@charset "utf-8";


body{
    overflow: hidden;
    // background: url(../img/contact/bg.jpg) no-repeat;
    // background-position: center bottom;
}

.bg{
    position: absolute;
    left: 60px;
    bottom: 0;
}

.con{
    margin-top: 90px;
    position: absolute;
}

.footer{
    position: absolute;
}