@charset "utf-8";

.con{
    padding: 0 60px;
    box-sizing: border-box;
    margin-bottom: 160px;
    .title{
        margin-top: 260px;
        h1{
            font-size: 160px;
            font-family: "Montserrat", sans-serif;
            font-weight: 500;
            color: #0037FF;
        }
    }
    .menu{
        ul{
            display: flex;
            margin-top: 30px;
            li{
                margin-right: 15px;
                padding: 20px 30px;
                border: 1px solid #000;
                border-radius: 100px;
                a{
                    font-size: 20px;
                }
            }
        }
    }
    .work-part{
        margin-top: 80px;
        ul{
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            li{
                a{
                    .img{
                        width: 440px; height: 500px; 
                        overflow: hidden;
                        -webkit-filter: blur(0);
                        // -webkit-transition: .5s ease-in-out;
                        filter: blur(0);
                        transition-property: all;
                        transition-duration: 1s;
                    }
                    .work-title{
                        margin-top: 18px;
                        font-size: 30px;
                        font-weight: 600;
                    }
                    .tag{
                        margin-top: 10px;
                        span{
                            margin-right: 15px;
                        }
                    }
                }
            }
            li:hover{
                a{
                    img{
                        // transition: 0.5s;
                        transition-property: all;
                        transition-duration: 1s;
                        transform: scale(1.2);
                        -webkit-filter: blur(3px);
                        filter: blur(3px);
                    }
                }
            }
        }
    }
}