@charset "utf-8";

.work-title{
    // position: absolute;
    text-align: center;
    margin-top: 254px;
    margin-bottom: 80px;
    p.work-category{
        font-size: 40px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        margin-bottom: 15px;
    }
    p.work-name{
        font-size: 110px;
        color: #0037FF;
        font-weight: 700;
        margin-bottom: 10px;
    }
    .work-date{
        font-size: 20px;
        color: #b9b9b9;
        span{margin-right: 20px;}
        span.line{
            display: inline-block;
            width: 2px; height: 15px;
            background-color: #E0E0E0;
        }
    }
}

.btn{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 160px;
    width: 370px; height: 110px;
    border: 1px solid #000;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    a{
        font-size: 20px;
        color: #000;
    }
}

.work-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
        margin-bottom: 160px;
    }
    .mockup{
        margin-bottom: 160px;
        img, video{margin-bottom: 20px; width: 100%;}
    }
}